/* Палитра цветов */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-black-color: #000000;
    --color-social-links: #AFB1B8;
}

/* Оформление фона и основного текста */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

/* Оформление логотипа */
.logo {
    color: var(--secondary-black-color);
}
.logo-web {
    color: var(--accent-color)
}

/* Оформление навигации */
.list {
  list-style: none;
}
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Оформление контактов в шапке */
.contacts-link {
    color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}
/* Оформление героя */
.hero-title {
  color: var(--primary-white-color);
}
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Оформление секций */
.section-title {
    color: var(--primary-text-color);
}
.feature-list-title {
    color: var(--primary-text-color);
}
.feature-list-text {
    color: var(--secondary-text-color);
}
.main-activity-text {
    color: var(--primary-white-color);
}
.name {
    color: var(--primary-text-color);
}
.specialty {
    color: var(--secondary-text-color);
}
.social-links {
    color: var(--color-social-links);
}
.social-links:hover,
.social-links:focus {
  color: var(--accent-color);
}
/* Оформление футера */
.address-container {
    color: var(--primary-white-color);
}
.address-container-link {
    color: rgba(255, 255, 255, 0.6);
}
.call {
    color: var(--primary-white-color);
}
.copy-right {
    color: rgba(255, 255, 255, 0.4);
}